<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>756440663590-gtu1t6dcuf7lgvgt3s81sk20v0liafnn.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.756440663590-gtu1t6dcuf7lgvgt3s81sk20v0liafnn</string>
	<key>API_KEY</key>
	<string>AIzaSyArr0VmTb0Jr5pa3XAo0E8zC2x2vYqpgQQ</string>
	<key>GCM_SENDER_ID</key>
	<string>756440663590</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>co.ziontuiasoa.Flash-Chat-iOS13</string>
	<key>PROJECT_ID</key>
	<string>flash-chat-ios-13-3d701</string>
	<key>STORAGE_BUCKET</key>
	<string>flash-chat-ios-13-3d701.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:756440663590:ios:82ec0abf94456f87fc48e7</string>
</dict>
</plist>